title: XinLab
description: Genomics Research Laboratory
baseurl: ""
url: "www.xgenome.cn"
collections:
  categories:
    output: true
    permalink: /categories/:title/
  people:
    output: true
    permalink: /people/:name/
defaults:
  - scope:
      path: ""
      type: "people"
    values:
      layout: "person"
  - scope:
      path: "news"
      type: news
    values:
      layout: post
plugins:
  - jekyll-feed
  - jekyll-seo-tag
google_analytics: G-ETXSDK6Y4B

plugins:
  - jekyll-archives

jekyll-archives:
  enabled:
    - tags
    - categories
  layouts:
    tag: tag_archive   # 指定生成标签归档页时使用的布局
    category: category_archive  # 指定生成分类归档页时使用的布局
  permalinks:
    tag: "/news/tags/:name/"       # 标签归档页地址，如 /news/tags/plant-genomics/
    category: "/news/categories/:name/"  # 分类归档页地址，如 /news/categories/frontiers/

# 插件启用
plugins:
  - jekyll-polyglot

# Polyglot 配置
languages: ["en", "zh"] # 语言列表，第一项通常是默认语言
default_lang: "en"            # 默认语言
exclude_from_localization: ["assets", "_layouts", "_includes", "_data"] # 不需要被翻译的静态资源文件夹
parallel_localization: true

