<div>
    <h4>Share this:</h4>
        <!-- Facebook -->
        <a class="btn btn-primary" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share this on facebook">
            <i class="fab fa-facebook"></i>
        </a>
        <!-- Twitter -->
        <a class="btn btn-primary" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <!-- Google+ -->
        <a class="btn btn-primary" href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Google+">
            <i class="fab fa-google-plus"></i>
        </a>
</div>