<!DOCTYPE html>
<html lang="{{ site.active_lang | default: 'en' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- CSS 部分 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.bootstrap5.min.css">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

  <!-- 不要在这里放 JS -->
</head>

<body>
  {% include navbar.html %}

  {% if page.background_img %}
  <div class="jumbotron" style="background-image: url('{{ page.background_img | relative_url }}');">
    <div class="container">
      <h1>{{ page.welcome_msg }}</h1>
      <p>{{ page.intro_msg }}</p>
    </div>
  </div>
  {% endif %}

  <main class="container col-lg-8 col-md-12 col-sm-12">
    {% if page.abstract %}
    <div class="page-abstract">{{ page.abstract }}</div>
    {% endif %}
    {{ content }}
  </main>

  {% include footer.html %}

  <!-- JS 部分统一放在这里（body 结束前） -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.min.js"></script>


</body>
</html>